<div>
    <h2>
        <span jhiTranslate="miasApp.healthFacility.home.title">Health Facilities</span>
        <button class="btn btn-primary float-right jh-create-entity create-health-facility" [routerLink]="['/', { outlets: { popup: ['health-facility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="miasApp.healthFacility.home.createLabel">
            Create new Health Facility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="healthFacilities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="miasApp.healthFacility.name">Name</span></th>
            <th><span jhiTranslate="miasApp.healthFacility.address">Address</span></th>
            <th><span jhiTranslate="miasApp.healthFacility.phoneNumber">Phone Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let healthFacility of healthFacilities ;trackBy: trackId">
                <td><a [routerLink]="['../health-facility', healthFacility.id ]">{{healthFacility.id}}</a></td>
                <td>{{healthFacility.name}}</td>
                <td>{{healthFacility.address}}</td>
                <td>{{healthFacility.phoneNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../health-facility', healthFacility.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'health-facility/'+ healthFacility.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'health-facility/'+ healthFacility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
